.App {
  background-color: #282c34;
  color: white;
}

.section {
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section > div {
  padding: 10px;
}

.section > div:first-child {
  font-size: 18px;
  font-weight: bold;
}
